<div class="row">
  <div class="col-md-6">
    <div class="widget">
      <div class="widget-header">
        <i class="fa fa-tasks"></i> Tasks ({{filtered.length}})
        <button type="button" class="btn btn-sm btn-success pull-right" ng-click="crud.fn.create()" style="margin-left: 10px;"><i class="fa fa-plus"></i> New task</button>
        <input type="text" class="form-control input-sm pull-right" placeholder="Search ..." ng-model="search">
        <div class="clearfix"></div>
      </div>
      <div class="widget-body no-padding">
        <rd-loading ng-show="crud.data.status.loading && !(crud.data.elts && crud.data.elts.length > 0)"></rd-loading>
        <div class="alert alert-danger" role="alert" ng-show="crud.data.status.error"><strong>Error!</strong> {{crud.data.status.error}}</div>
        <div class="table-responsive" ng-show="crud.data.elts && crud.data.elts.length > 0">
          <table class="table table-hover">
            <thead>
              <tr>
                <th sort="crud.data.currentSort" name="color" ng-click="crud.fn.sort('color')">Color</th>
                <th sort="crud.data.currentSort" name="name" ng-click="crud.fn.sort('name')">Name</th>
                <th sort="crud.data.currentSort" name="description" ng-click="crud.fn.sort('description')">Description</th>
                <th sort="crud.data.currentSort" name="done" ng-click="crud.fn.sort('done')">Done</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="elt in filtered = (crud.data.elts | filter:search)" ng-click="crud.fn.toggle(elt)" ng-class="{active: crud.data.selectedElt && elt.objectId === crud.data.selectedElt.objectId}">
                <td><button class="btn btn-xs" type="button" style="background-color: {{elt.color}};">&nbsp;&nbsp;&nbsp;</button></td>
                <td>{{elt.name}}</td>
                <td><div ng-bind-html="trustHtml(elt.description)"></div></td>
                <td>{{elt.done}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6" ng-show="crud.data.selectedElt && !crud.data.form">
    <div class="card">
      <h4 class="card-heading">
        <span class="pull-right">
          <a class="btn btn-xs btn-info" ng-click="crud.fn.edit(crud.data.selectedElt)"><i class="fa fa-pencil-square-o"></i></a>
          <loading-button btn-class="btn-xs btn-danger" btn-icon="fa fa-trash-o" btn-loading="crud.data.status.removing" ng-click="crud.fn.remove(crud.data.selectedElt)"></loading-button>
        </span>
        Task {{crud.data.selectedElt.objectId}}
      </h4>
      <div>
        Color: <button class="btn btn-xs" type="button" style="background-color: {{crud.data.selectedElt.color}};">&nbsp;&nbsp;&nbsp;</button><br>
        Name: {{crud.data.selectedElt.name}}<br>
        Description: <div class="well" ng-bind-html="trustHtml(crud.data.selectedElt.description)" ng-show="crud.data.selectedElt.description"></div><br>
        Done: {{crud.data.selectedElt.done}}
      </div>
    </div>
  </div>

  <div class="col-md-6" ng-show="crud.data.form">
    <form ng-submit="crud.fn.save()">
      <div class="card">
        <div class="form-group">
          <label for="color">Color :</label>
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" style="background-color: {{crud.data.form.color}};">&nbsp;&nbsp;&nbsp;</button>
            </span>
            <input colorpicker="rgba" type="text" class="form-control" id="color" name="color" ng-model="crud.data.form.color" required>
          </div>
        </div>
        <div class="form-group">
          <label for="name">Name :</label>
          <input type="text" class="form-control" id="name" name="name" ng-model="crud.data.form.name" required>
        </div>
        <div class="form-group">
          <label for="description">Description :</label>
          <ng-quill-editor ng-model="crud.data.form.description" toolbar="true" editor-required="true"></ng-quill-editor>
        </div>
        <div class="checkbox">
          <label for="done">
            <input type="checkbox" id="done" name="done" ng-model="crud.data.form.done"> Done
          </label>
        </div>
      </div>

      <div class="card">
        <div class="pull-right">
          <loading-button btn-type="submit" btn-class="btn-primary" btn-loading="crud.data.status.saving" ng-show="!crud.data.form.objectId">Create</loading-button>
          <loading-button btn-type="submit" btn-class="btn-success" btn-loading="crud.data.status.saving" ng-show="crud.data.form.objectId">Save</loading-button>
        </div>
        <a class="btn btn-default" ng-click="crud.fn.cancelEdit()">Cancel</a>
        <div class="clearfix"></div>
      </div>
    </form>
  </div>
</div>
